@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", system-ui;
  list-style: none;
  scroll-behavior: smooth;
}

/* ! Professional CSS */
.header {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/intro-bg2.jpg");
}
.header .navbar {
  width: 100%;
}
.header .navbar .container {
  width: 95%;
  padding: 15px 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .navbar .container .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.header .navbar .container .nav-list {
  display: flex;
}
.header .navbar .container .nav-list .closebtn {
  display: none;
  cursor: pointer;
}
.header .navbar .container .nav-list li {
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}
.header .navbar .container .nav-list li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.header .navbar .container .nav-list li a:hover {
  text-decoration: underline;
}
.header .navbar .container .nav-list li:not(:last-child) {
  margin-right: 1rem;
}
.header .navbar .container .hamburger {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.25em;
  cursor: pointer;
  display: none;
}
.header .navbar .container .hamburger .line {
  background-color: #fff;
  border-radius: 1em;
  width: 2rem;
  height: 0.25rem;
}
.header .intro {
  width: 100%;
  padding-bottom: 5rem;
}
.header .intro .container {
  width: 1200px;
  padding: 13rem 0;
  margin-inline: auto;
  text-align: center;
}
.header .intro .container h1 {
  font-size: 8rem;
  color: #fff;
}
.header .intro .container h1 span {
  color: #e6e0bb;
}
.header .intro .container p {
  font-size: 1.2rem;
  color: #f3f3f3;
}
.header .intro .container .intro-btn-container {
  margin-top: 2rem;
}
.header .intro .container .intro-btn-container .intro-btn {
  border-radius: 4px;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out all;
}
.header .intro .container .intro-btn-container .intro-btn:hover {
  background-color: #e6e0bb;
  color: #0d0f45;
}
.header .intro .container .intro-btn-container .intro-btn.color-btn {
  background-color: #e6e0bb;
}
@media only screen and (max-width: 1230px) {
  .header .intro {
    width: 100%;
  }
  .header .intro .container {
    width: 95%;
  }
}
@media only screen and (max-width: 800px) {
  .header .navbar {
    width: 100%;
  }
  .header .navbar .container .backdrop.show {
    opacity: 1;
    pointer-events: all;
  }
  .header .navbar .container .backdrop {
    z-index: 10;
    position: fixed;
    top: 0%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out all;
  }
  .header .navbar .container .backdrop .nav-list {
    top: -100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 3rem 0;
    margin-top: 5rem;
    background-color: rgb(236, 234, 234);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: 0.5s ease-in-out all;
  }
  .header .navbar .container .backdrop .nav-list .closebtn {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 1.3rem;
  }
  .header .navbar .container .backdrop .nav-list li {
    text-align: center;
  }
  .header .navbar .container .backdrop .nav-list li a {
    color: #222;
  }
  .header .navbar .container .backdrop .nav-list li:not(:last-child) {
    margin-right: 0;
    padding-bottom: 1.5rem;
  }
  .header .navbar .container .backdrop .nav-list.show {
    top: 0;
  }
  .header .navbar .container .hamburger {
    display: flex;
  }
}
@media only screen and (max-width: 790px) {
  .header .intro .container h1 {
    font-size: 6rem;
    color: rgb(247, 244, 244);
  }
  .header .intro .container p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 570px) {
  .header .intro .container h1 {
    font-size: 5rem;
    color: rgb(247, 244, 244);
  }
}
@media only screen and (max-width: 500px) {
  .header .intro {
    padding: 5rem 0;
  }
}
@media only screen and (max-width: 414px) {
  .header .intro .container {
    padding: 4rem 0;
  }
  .header .intro .container h1 {
    font-size: rem;
    line-height: 4.5rem;
    margin-bottom: 1rem;
  }
  .header .intro .container .intro-btn-container .intro-btn {
    margin: 0.5rem 0.4rem;
  }
}
/* ! Professional CSS */
.professional {
  width: 100%;
  padding: 5rem 0;
  background-color: #fff;
}
.professional .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 3rem 0;
}
.professional .title .text {
  font-size: 2.5rem;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0d0f45;
}
.professional .title .line {
  height: 8px;
  width: 100%;
}
.professional .title .line.active {
  background: #0d0f45;
}
.professional .container {
  width: 1000px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 7rem;
  padding: 5rem 0;
}
.professional .container .circular-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  text-align: center;
}
.professional .container .circular-container h3 {
  margin-bottom: 1rem;
}
.professional .container .circular-container .progress-value {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
}
.professional .container .circular-container .circular-progress1 {
  position: relative;
  height: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#0d0f45 270deg, #ededee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional .container .circular-container .circular-progress1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./images/professional/wordpress-plain.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.professional .container .circular-container .circular-progress2 {
  position: relative;
  height: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#0d0f45 270deg, #ededee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional .container .circular-container .circular-progress2::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./images/professional/figma-original.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.professional .container .circular-container .circular-progress3 {
  position: relative;
  height: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#0d0f45 342deg, #ededee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional .container .circular-container .circular-progress3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./images/professional/photoshop-line.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.professional .container .circular-container .circular-progress4 {
  position: relative;
  height: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#0d0f45 288deg, #ededee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional .container .circular-container .circular-progress4::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./images/professional/illustrator-line.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.professional .container .circular-container .circular-progress5 {
  position: relative;
  height: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#0d0f45 324deg, #ededee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional .container .circular-container .circular-progress5::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./images/professional/javascript-plain.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
.professional .container .circular-container .circular-progress6 {
  position: relative;
  height: auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: conic-gradient(#0d0f45 324deg, #ededee 0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional .container .circular-container .circular-progress6::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("./images/professional/html5-plain.svg");
  background-size: 50px 50px;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1040px) {
  .professional .container {
    width: 95%;
  }
}
@media screen and (max-width: 700px) {
  .professional .title .text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .professional .title .text {
    font-size: 1.5rem;
  }
  .professional .container {
    grid-row-gap: 4rem;
  }
}
@media screen and (max-width: 500px) {
  .professional .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ! Experience CSS */
.experience {
  width: 100%;
  padding: 5rem 0;
  background-color: #f4f4f4;
}
.experience .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 5rem 0;
}
.experience .title .text {
  font-size: 2.5rem;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0d0f45;
}
.experience .title .line {
  height: 8px;
  width: 100%;
}
.experience .title .line.active {
  background: #0d0f45;
}
.experience .container {
  width: 1200px;
  margin-inline: auto;
  padding: 5rem 0;
}
.experience .container .box {
  display: flex;
}
.experience .container .box .mobile-circle {
  display: none;
}
.experience .container .box .left {
  width: 100%;
}
.experience .container .box .left .text {
  text-align: end;
}
.experience .container .box .left .text .content {
  margin-top: 1.5rem;
}
.experience .container .box .left .text .content h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.experience .container .box .left .text .content p {
  line-height: 22px;
  color: #333;
}
.experience .container .box .left img {
  width: 100%;
  height: 350px;
  margin-bottom: 5rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.experience .container .box .right {
  width: 100%;
}
.experience .container .box .right .text {
  text-align: start;
}
.experience .container .box .right .text .content {
  margin-top: 1.5rem;
}
.experience .container .box .right .text .content h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
.experience .container .box .right .text .content p {
  line-height: 22px;
  color: #333;
}
.experience .container .box .right img {
  width: 100%;
  height: 350px;
  margin-bottom: 5rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.experience .container .box .middle-line {
  width: 1rem;
  margin: 0 2.5rem;
  background-color: #0d0f45;
  position: relative;
}
.experience .container .box .middle-line .circle {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #e6e0bb;
  border-radius: 50%;
  top: 0%;
  right: 50%;
  transform: translate(50%, -50%);
}
.experience .container .box .middle-line .circle-2 {
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #e6e0bb;
  border-radius: 50%;
  bottom: 0%;
  right: 50%;
  transform: translate(50%, 50%);
}
@media screen and (max-width: 1240px) {
  .experience .container {
    width: 95%;
  }
}
@media screen and (max-width: 800px) {
  .experience .container .box {
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
    border-left: 5px #0d0f45 solid;
    padding-left: 1.5rem;
    position: relative;
  }
  .experience .container .box .mobile-circle {
    display: block;
    width: 35px;
    height: 35px;
    border: 50%;
    background: #e6e0bb;
    position: absolute;
    border-radius: 50%;
    left: -3.5%;
    top: -3%;
  }
  .experience .container .box .left {
    width: 100%;
  }
  .experience .container .box .left .text {
    text-align: start;
  }
  .experience .container .box .left .text h1,
  .experience .container .box .left .text h3 {
    text-align: start;
  }
  .experience .container .box .left .text .content {
    text-align: start;
    margin-bottom: 1.5rem;
  }
  .experience .container .box .right {
    width: 100%;
  }
  .experience .container .box .right .text {
    text-align: start;
  }
  .experience .container .box .right .text .content {
    margin-top: 1.5rem;
  }
  .experience .container .box .middle-line {
    display: none;
  }
  .experience .container .box:last-child {
    position: relative;
  }
  .experience .container .box:last-child .mobile-circle2 {
    display: block;
    width: 35px;
    height: 35px;
    border: 50%;
    background: #e6e0bb;
    position: absolute;
    border-radius: 50%;
    left: -3.5%;
    bottom: -3%;
  }
  .experience .container .box:last-child .left img {
    margin-bottom: 0;
  }
  .experience .container .box:nth-child(even) {
    flex-direction: column;
    flex-direction: column-reverse;
    position: relative;
  }
  .experience .container .box:nth-child(even) .mobile-circle {
    display: block;
    width: 35px;
    height: 35px;
    border: 50%;
    background: #e6e0bb;
    position: absolute;
    border-radius: 50%;
    left: -3.5%;
    top: 0%;
  }
  .experience .container .box:nth-child(even) .right .text {
    text-align: start;
  }
  .experience .container .box:nth-child(even) .right .text .content {
    margin-bottom: 1.5rem;
  }
}
@media screen and (max-width: 700px) {
  .experience .title .text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .experience .title .text {
    font-size: 1.5rem;
  }
  .experience .container .box {
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
    border-left: 5px #0d0f45 solid;
    padding-left: 1.5rem;
    position: relative;
  }
  .experience .container .box .mobile-circle {
    display: block;
    width: 35px;
    height: 35px;
    border: 50%;
    background: #e6e0bb;
    position: absolute;
    border-radius: 50%;
    left: -4.5%;
    top: -3%;
  }
  .experience .container .box:last-child {
    position: relative;
  }
  .experience .container .box:last-child .mobile-circle2 {
    display: block;
    width: 35px;
    height: 35px;
    border: 50%;
    background: #e6e0bb;
    position: absolute;
    border-radius: 50%;
    left: -4.5%;
    bottom: -3%;
  }
  .experience .container .box:nth-child(even) {
    flex-direction: column;
    flex-direction: column-reverse;
    position: relative;
  }
  .experience .container .box:nth-child(even) .mobile-circle {
    display: block;
    width: 35px;
    height: 35px;
    border: 50%;
    background: #e6e0bb;
    position: absolute;
    border-radius: 50%;
    left: -4.5%;
    top: 0%;
  }
}
@media screen and (max-width: 450px) {
  .experience .container .box .mobile-circle {
    width: 35px;
    height: 35px;
    left: -5.5%;
  }
  .experience .container .box:last-child .mobile-circle2 {
    width: 35px;
    height: 35px;
    left: -5.5%;
  }
  .experience .container .box:nth-child(even) .mobile-circle {
    width: 35px;
    height: 35px;
    left: -5.5%;
  }
}
@media screen and (max-width: 380px) {
  .experience .container .box .mobile-circle {
    width: 30px;
    height: 30px;
    left: -5.5%;
  }
  .experience .container .box:last-child .mobile-circle2 {
    width: 30px;
    height: 30px;
    left: -5.5%;
  }
  .experience .container .box:nth-child(even) .mobile-circle {
    width: 30px;
    height: 30px;
    left: -5.5%;
  }
}
/* ! Portfolio CSS */
.portfolio {
  width: 100%;
  padding: 5rem 0;
  background-color: #fff;
}
.portfolio .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 5rem 0;
}
.portfolio .title .text {
  font-size: 2.5rem;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0d0f45;
}
.portfolio .title .line {
  height: 8px;
  width: 100%;
}
.portfolio .title .line.active {
  background: #0d0f45;
}
.portfolio .container {
  padding: 5rem 0;
  width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem 1.5rem;
}
.portfolio .container .box {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.3s ease-in-out all;
}
.portfolio .container .box:hover {
  transform: rotate(8deg);
}
.portfolio .container .box.mobile {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/portfolio/mobile.jpg");
}
.portfolio .container .box.website {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/portfolio/website.jpg");
}
.portfolio .container .box.design {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/portfolio/3d-design.jpg");
}
.portfolio .container .box.magazine {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/portfolio/magazine.jpg");
}
.portfolio .container .box.branding {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/portfolio/branding.jpg");
}
.portfolio .container .box.photography {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/portfolio/photography.jpg");
}
@media only screen and (max-width: 1230px) {
  .portfolio .container {
    width: 95%;
    grid-gap: 3rem 1.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .portfolio .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .portfolio .title .text {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 625px) {
  .portfolio .container {
    width: 85%;
    grid-template-columns: 1fr;
  }
  .portfolio .container .box {
    padding: 8rem 0;
  }
}
@media screen and (max-width: 550px) {
  .portfolio .title .text {
    font-size: 1.5rem;
  }
}
/* ! Contact CSS */
.contact {
  width: 100%;
  padding: 4rem 0;
  background-color: #f4f4f4;
}
.contact .title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0 5rem 0;
}
.contact .title .text {
  font-size: 2.5rem;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0d0f45;
}
.contact .title .line {
  height: 8px;
  width: 100%;
}
.contact .title .line.active {
  background: #0d0f45;
}
.contact .container {
  width: 500px;
  margin: 0 auto;
}
.contact .container .form-container {
  width: 100%;
}
.contact .container .form-container .second-input {
  display: flex;
  gap: 10px;
}
.contact .container .form-container .input {
  margin: 8px 0;
  width: 100%;
  padding: 10px 15px;
  resize: none;
  outline: none;
}
.contact .container .form-container .btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 1rem auto;
  border-bottom: 1px #0d0f45 solid;
  padding-bottom: 1.5rem;
}
.contact .container .form-container .btn-footer .btn {
  cursor: pointer;
  background-color: #0d0f45;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in-out all;
  border: none;
}
.contact .container .form-container .btn-footer .btn:hover {
  background-color: #1c1e5a;
}
.contact .container .form-container .email-footer {
  padding: 1rem 0;
  text-align: center;
  line-height: 1.8rem;
}
.contact .container .footer-icon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
}
.contact .container .footer-icon img {
  width: 30px;
}
.contact .container .footer-icon img:not(:last-child) {
  margin-right: 0.5rem;
}
@media screen and (max-width: 700px) {
  .contact .title .text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 550px) {
  .contact .title .text {
    font-size: 1.5rem;
  }
  .contact .container {
    padding: 0 1rem;
    width: 95%;
  }
}
